<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Detail of photo</title>
	<link rel="stylesheet" href="/bootstrap_css/bootstrap.css" />
	<link rel="stylesheet" href="/stylesheets/common.css" />
	<link rel="stylesheet" href="/stylesheets/displayPhoto.css" />

</head>

<body>
	<div class="header-bar">
		<div class="container">
			<nav class="row">
				<div class="col-12 logo-ctn">
					<a href="/" class="logo-link">
						<img class="logo" src="/images/photo_magnifier.png" />
						<span class="logo-text">MagPhoto</span>
					</a>
				</div>
			</nav>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="mt-3 mb-3">Title</h1>
			</div>
			<div class="col-12">
				<h2 class="mt-2 mb-4">description</h2>
			</div>
			<div class="col-12">
				<div class="row mb-4">
					<div class="col-12 col-md-7">
						<img class="w-100" src="/images/IMG_0261.jpg" />
					</div>
					<div class="col-12 col-md-5">
						<div class="card">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Make: Apple</li>
								<li class="list-group-item">Model: iPhone 11 Pro</li>
								<li class="list-group-item">Created on: 2019:10:22 17:45:36</li>
								<li class="list-group-item">Location: Map</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	</div>

</body>

</html>