<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>Location of photo taken</title>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />
   <link rel="stylesheet" href="/bootstrap_css/bootstrap.css" />
   <link rel="stylesheet" href="/stylesheets/common.css" />
   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
      integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
      crossorigin=""></script>
</head>

<body>
   <div class="header-bar">
      <div class="container">
         <nav class="row">
            <div class="col-12 logo-ctn">
               <a href="/" class="logo-link">
                  <img class="logo" src="/images/photo_magnifier.png" />
                  <span class="logo-text">MagPhoto</span>
               </a>
            </div>
         </nav>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <h1 class="col-12 mt-3 mb-3">The photo is taken in:</h1>
         <div class="col-12">
            <div id="map" class="mb-3" style="height: 580px"></div>
         </div>
         <div class="col-12">
            <button class="btn btn-primary" onclick="goBack()">Back</button>
         </div>
      </div>
   </div>
   <script>
      // Creating map options
      var mapOptions = {
         center: [<%=lat %>,<%=lon %>],
         zoom: 12
      }

      // Creating a map object
      var map = new L.map("map", mapOptions);

      // Creating a Layer object
      var layer = new L.TileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png");

      // Adding layer to the map
      map.addLayer(layer);

      // Creating a marker
      var marker = L.marker([<%=lat %>,<%=lon %>]);
      // Adding marker to the map
      marker.addTo(map);

      function goBack() {
         window.history.back();
      }
   </script>
</body>

</html>